/*  ==================  RESET STYLES  =================  */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* =============  HEADER  ============= */

.page-header {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-navigator {
  display: flex;
  align-items: center;
}

.page-logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  color: #4d5ae5;
  margin-right: 76px;
}
.menu-item:hover {
  color: #404bbf;
}
.menu-item:focus {
  color: #404bbf;
}

.studio-text {
  color: #2e2f42;
}

.menu {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  gap: 40px;
}
.menu-item {
  display: block;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
}
.page-adress {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0.02em;
}
.address-menu {
  display: flex;
  gap: 40px;
}
.address-item {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-item:hover {
  color: #404bbf;
}
.address-item:focus {
  color: #404bbf;
}
.menu-item-studio {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-item-studio::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
/*  ============  HERO  ============  */

.page-hero {
  max-width: 1440px;
  background-color: #2e2f42;
  margin-left: auto;
  margin-right: auto;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* .hero-container {
  padding-left: 331px;
  padding-right: 331px;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
} */

.hero-title {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  color: #ffffff;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.hero-button {
  background-color: #4d5ae5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  line-height: 1.5;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover {
  background-color: #404bbf;
}
.hero-button:focus {
  background-color: #404bbf;
}
/*  ============  QUALITY  ============  */

.list-of-qualitys {
  display: flex;
  gap: 24px;
}
.page-quality {
  padding-top: 120px;
  padding-bottom: 120px;
}
.card-qualitys {
  width: calc((100% - 72px) / 4);
}

.title-card-qualitys {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  margin-top: 8px;
}

.text-card-qualitys {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.card-qualitys-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  border: 1px solid rgba(142, 143, 153, 1);
  border-radius: 4px;
  background-color: rgba(244, 244, 253, 1);
  margin-bottom: 8px;
}
/*  ============  TEAM  ============  */
.page-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.list-team {
  /* background-color: #ffffff; */
  display: flex;
  gap: 24px;
}
.card-team {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.title-team {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.job-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.name-position {
  padding: 32px 0;
}
.social-list {
  display: flex;
  align-items: center;
  max-width: 232px;
  margin: 0 auto;
  gap: 24px;
  justify-content: center;
}
.social-list-linc {
  display: flex;
  border-radius: 50%;
  background-color: rgba(77, 90, 229, 1);
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-linc:hover,
.social-list-linc:focus {
  background-color: #404bbf;
}
.social-list-icon {
  fill: #f4f4fd;
}

/*  ============  TEAM PORTFOLIO  ============  */
.page-portfolio {
  padding: 120px 0;
}
.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.card-portfolio:hover .portfolio-text {
  transform: translateY(0%);
}
.card-portfolio-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  
}
.service {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.card-portfolio:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.card-portfolio:hover .service {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.card-portfolio {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-images-container {
  position: relative;
  overflow: hidden;
}
.portfolio-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  color: #f4f4fd;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ============  FOOTER  ============  */

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-info {
  margin-right: 120px;
}
.footer-logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-web {
  color: #f4f4fd;
}
.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-social-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.social-list-footer {
  display: flex;
  align-items: center;
  max-width: 232px;
  margin: 0 auto;
  gap: 16px;
  justify-content: center;
}
.social-list-linc-footer {
  display: flex;
  border-radius: 50%;
  background-color: rgba(77, 90, 229, 1);
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: none;
  stroke: #f4f4fd;
}
.social-list-linc-footer:hover,
.social-list-linc-footer:focus {
  background-color: #31d0aa;
}
